body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: #ffffff 0px solid;
}

a:link {
  color: #0066ff;
  text-decoration: none;
}

a:visited {
  color: #336699;
  text-decoration: none;
}

a:active {
  color: #ff3333;
  text-decoration: none;
}

a:hover {
  color: #3399ff;
  text-decoration: none;
}

/* NEXT LINE IS THE DEFAULT FONT */

body,
div,
table {
  color: #333333;
  font: 14px arial, sans-serif;
  font-weight: normal;
}

.poptitle {
  color: #000000;
  font: 22px arial, sans-serif;
  font-weight: normal;
  margin: 0px 0px 1px 0px;
}

.popwrapper {
  width: 100%;
  max-width: 100%;
  min-width: 600px;
  margin: 0 auto;
}

.popcontent {
  padding: 18px 15px 10px 15px;
  /* NOTE: PADDING ABOVE IS | top | right | bottom | left */
  text-align: left;
  margin: 0 auto;
}

.td-center {
  text-align: center;
}

img {
  border: 0;
}

.pop-close {
  position: absolute;
  top: 9px;
  left: 7px;
  z-index: 30;
}

/* IMAGE CODE */

.popimage {
  width: 100%;
  height: auto;
  display: block;
}

.popimage-outer {
  max-width: 100%;
  min-width: 250px;
  max-height: 175px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: #000000 0px solid;
  border-bottom: #000000 10px solid;
}
