html,
body {
  height: 100%;
}

#sketch-holder {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
.pop-close {
  position: absolute;
  top: 9px;
  left: 7px;
  z-index: 30;
}
